<div class="jumbotron">
  <h1 class="display-3">Hello, Requester!</h1>
  <p class="lead">You who is busy and has no time. I will find what you want. By agent Suzuki</p>
  <hr class="my-4">
  <p><購入依頼の前には会員登録が必要になります></p>
  <p class="lead">
    <button type="button" class="btn btn-primary btn-lg">検索依頼</button>
    <%=image_tag("top_main.jpg", alt: "aaaa") %>
  </p>
</div>


      