<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>I will look for you</title>
  <link href="css/reset.css" rel="stylesheet">
  <link href="style.css" rel="stylesheet">
</head>
<body>
    
<div id="header">
<div id="headerArea">

 <div id="header_logo">I will look for you</div>
 
 <div id="gnavi">
  <ul>
      <li><a href="#">ログアウト</a></li>
      <li><a href="#">会員登録</a></li>
      <li><a href="#">購入依頼</a></li>
  </ul>
 </div>
</div>
</div>

<div id="main_panel">
<div id="main_panelArea">
    <h1> you who is busy and has no time. I will find what you want. By agent Suzuki</h1>
     <p><a class="button" href="#">購入依頼</a></p>

</div>    
</div>

<div id="footer">
 <div id="footerArea">
<div id="footer_nav">
<ul>
<li><a href="#">注意書き</a></li>
<li><a href="#">問い合わせ</a></li>
<li><a href="#">ミッション</a></li>
<li><a href="#">退会</a></li>
</ul>
    </div>
  </div>
  </div>
</body>
</html>
