<footer class="footer">
  <small>
  
  </small>
  <nav>
    <ul>
      <li><%= link_to "注意書き",   '#' %></li>
      <li><%= link_to "ミッション", '#' %></li>
      <li><%= link_to "問い合わせ",   '#' %></li>
      <li><%= link_to "退会",   '#' %></li>
    </ul>
  </nav>
</footer>