<footer class="footer">
  <small>
  
  </small>
  <nav>
    <ul>
      <li><%= link_to "免責事項",   'disclaimer' %></li>
      <li><%= link_to "問い合わせ",   'inquiry' %></li>
      <li><%= link_to "退会",   'withdrawal' %></li>
    </ul>
  </nav>
</footer>