<header class="navbar navbar-fixed-top navbar-navbar-light" style="background-color: #e3f2fd;">
  <div class="container">
    <%= link_to "", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "会員登録",    '#' %></li>
        <li><%= link_to "購入依頼",    '#' %></li>
        <li><%= link_to "ログアウト", '#' %></li>
      </ul>
      </nav>
  </div>
</header>